img {
    max-width:100%;
    height:auto;
    display: block;
    transition: .8s ease;
    margin: auto;
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    color: #333333;
    text-align: center;
    line-height: 25px;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #333333;
    text-align: center;
}
h2.email {
    line-height: 0px;
}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;
    font-size: 25px;
    text-align: center;
    line-height: 0px;
}
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    font-size: 40px;
    text-align: center;
}
h4.policy {
    font-size: 50px;
    font-family: 'Work Sans', sans-serif;
    line-height: 0px;
    text-align: left;
    margin-bottom: 50px;
}
h4.small {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    line-height: 0px;
    text-align:left;
    padding-left: 0.3em;
}
h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 0px;
}
h5.small {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    line-height: 0px;
    text-align:left;
    color: #000000;
    margin-bottom: 24px;
    padding-left: 0.2em;
}
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    font-size: 40px;
    text-align: center;  
}
h6.cart {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    display: block;
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333333;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
}
p.privacy {
    color: #000000;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
    text-align:left;
    line-height: 20px;
    padding-left: 0.3em;
    font-weight: 300;
}
ul, li {
    font-family: 'Kulim Park', sans-serif;
    font-size: 16px;
}
li.privacy {
    color: #000000;
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
    text-align:left;
    line-height: 20px;
    padding-left: 0.3em;
    font-weight: 300;
}
